body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    background-color: #fff;
}
/* estructura lateral  izquierda */
aside{
    flex: 50px;
    background-color: rgb(251, 251, 251);
    padding: 20px;
}
img{
    /* se establece ancho a la imagen  */
    width: 200px;    
}
.contacto{
background-color: rgb(192, 177, 15);
padding: 10px 20px;
color:#fff;
font-size: 13px;
margin: 0px;
}
/* formato al listado */
ul{
    list-style :none;
}
ul li{
   padding: 5px;; 
}

.idiomas{
    background-color: rgb(7, 7, 7);
    color:#fff;
    margin: 0px;
    height: 300px;
    padding: 10px;
   text-align: center;
}
.idiomas > ul > li > img{
    width: 30px !important; 
}
.idiomas > ul > li {
display:block;
}
.idiomas > ul{
    list-style :none;
}
.idiomas >.ul-intereses{
    list-style :none;
}
.idiomas> .ul-intereses > li{
    display: inline;
}

/* estructura lateral  derecha */
section{
    flex: 70%;
    /* background-color: khaki; */
    padding: 20px;
}
.titulo{
    background-color: rgb(35, 33, 33);
    color :#fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
     
}
.perfil{
    padding: 10px;
}
.perfil-alumno{
    visibility:hidden; 
}
/* utilizamos una clase para varios elementos */
.estudio > img{
    /* ancho a las imagenes de los estudios  */
    width: 60px !important; 
}
.fuente-negrita{
    font-weight: 900;
}
/* SKILL */
.skill{
    margin-left: auto;
    margin-right: auto;
    
    display:flex;
    /* establecemos centrado */
    justify-content: center;
    align-items: center;
    width: 70%;
}
.skill > h6{   border-radius: 10px;/*border redondeado de la caja*/ 
    border-color: rgb(160, 139, 8);
    background-color:rgb(160, 139, 8) ;         
    width: 70px;
    margin: 10px;
    color: black;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}